.App {
   text-align: center;
   background-color: #a6cfe2;
   height: 100vh;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
}

#calc-div {
   background-color: #0b0c11;
   height: 420px;
   width: 300px;
   padding: 5px;
   box-sizing: border-box;
   display: grid;
   grid-template-columns: auto auto auto auto;
   grid-template-rows: auto auto auto auto auto auto;
   box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.6);
   border-radius: 5px;
}

#display {
   grid-column: 1 / 5;
   grid-row: 1;
   color: #ffffff;
   display: flex;
   align-items: flex-end;
   justify-content: flex-end;
   padding-bottom: 10px;
   font-size: 26px;
}

.buttons {
   color: #ffffff;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 1px solid #000000;
   border-radius: 5px;
   cursor: pointer;
   user-select: none;
   opacity: 0.9;
}

.buttons:hover {
   border: 1px solid #cccccc;
   opacity: 1;
}

#clear {
   grid-column: 1 / 3;
   grid-row: 2;
   background-color: #A5243D;
}

#divide {
   grid-column: 3;
   grid-row: 2;
   background-color: #798086;
}

#multiply {
   grid-column: 4;
   grid-row: 2;
   background-color: #798086;
}

#seven {
   grid-column: 1;
   grid-row: 3;
   background-color: #42464A;
}

#eight {
   grid-column: 2;
   grid-row: 3;
   background-color: #42464A;
}

#nine {
   grid-column: 3;
   grid-row: 3;
   background-color: #42464A;
}

#subtract {
   grid-column: 4;
   grid-row: 3;
   background-color: #798086;
}

#four {
   grid-column: 1;
   grid-row: 4;
   background-color: #42464A;
}

#five {
   grid-column: 2;
   grid-row: 4;
   background-color: #42464A;
}

#six {
   grid-column: 3;
   grid-row: 4;
   background-color: #42464A;
}

#add {
   grid-column: 4;
   grid-row: 4;
   background-color: #798086;
}

#one {
   grid-column: 1;
   grid-row: 5;
   background-color: #42464A;
}

#two {
   grid-column: 2;
   grid-row: 5;
   background-color: #42464A;
}

#three {
   grid-column: 3;
   grid-row: 5;
   background-color: #42464A;
}

#equals {
   grid-column: 4;
   grid-row: 5 / 7;
   background-color: #466995;
}

#zero {
   grid-column: 1 / 3;
   grid-row: 6;
   background-color: #42464A;
}

#decimal {
   grid-column: 3;
   grid-row: 6;
   background-color: #42464A;
}
